@charset "utf-8";
/* CSS Document */
body{
	direction: rtl;
	font-family: b yekan;
}
.myclose{
	position: absolute;
	left: 20px;
	top: 10px;
	
}
.myopen{
	position: absolute;
	right: 20px;
	top: 70px;
}
.listLI{
	margin-bottom: 20px;
}
.menuLisB{
	color: white;
	text-decoration: none;
	
}
.rightMenu{
	padding-top: 40px;
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: black;
	top: 56px;
	right: 0px;
	border-right: 20px solid rgba(167,167,167,1.00);
	transition: 0.5s;
	
}
.topMenu{
	background-color:rgba(77,77,77,1.00);
	color: white;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	padding: 0px 20px;
	
}
.menuList{
	display: inline;
	margin: 0px 10px;
}
.menuLisA{
	text-decoration: none;
	color: white;
	
}
.menuLisA:hover{
	color: yellow;
}